# Dependencies
node_modules/

# Environment files
.env
.env.local
.env.production

# Firebase credentials
firebase-credentials.json
afkty-aeaa1-firebase-adminsdk-*.json

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

/src/generated/prisma

docs/
afkty-app/
AFKTY-FRONTEND/